.addclient {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  .formspace {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
