.clients {
  min-height: 90vh;
  .client-container {
    width: 94%;
    overflow-x: auto;
  }
  .editclientform {
    width: 70%;
    position: absolute;
    top: 15%;
    background-color: #ddd;
    border-radius: 20px;
    display: flex;
    padding: 30px 20px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .edit-form {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      padding: 20px 20px;
      @media (max-width: 7698px) {
        width: 100%;
      }
      input {
        width: 80%;
        padding: 12px;
        outline: none;
        border: none;
        background-color: #e9e7e7;
        border-radius: 10px;
        @media (max-width: 768px) {
          width: 90%;
        }
      }
      button {
        outline: none;
        border: none;
        padding: 10px 20px;
        background-color: #1f1e30;
        color: #fff;
        font-weight: 700;
        border-radius: 20px;
      }
    }
  }
}
